* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E3F2FD;
}

.container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container .colour {
    list-style: none;
    margin: 13px;
    padding: 7px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    background: #ffff;
    box-shadow: 0 10px 20px rgba(52, 87, 220, 0.08);
    transition: transform 0.3s ease;
}

.container .colour:active {
    transform: scale(0.95);
}



.colour .rect-box {
    width: 185px;
    height: 188px;
    border-radius: 5px;
    background: #8A6CFF;
}

.colour:hover .rect-box {
    filter: brightness(106%);
}

.colour .hex-value {
    display: block;
    color: #444;
    margin: 12px 0 8px;
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
}

.refresh-btn {
    outline: none;
    position: fixed;
    left: 50%;
    bottom: 40px;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    background: #8A6CFF;
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 20px;
    box-shadow: 0 15px 25px rgba(52, 87, 220, 0.2);
    transform: translateX(-50%);
}

@media screen and (max-width: 510px) {
    .container {
        margin: 10px;
    }

    .container .colour {
        margin: 8px;
        padding: 5px;
    }

    .colour .rect-box {
        width: 145px;
        height: 148px;
    }

    .colour .hex-value {
        font-size: 1.05rem;
    }
}